# Compiled Object files
*.slo
*.lo
*.o

# MSVS spam
*.out
#*.sdf
#*.user
#*.opensdf
#*.suo
*.lnk

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.orig

code_to_analyze/doom3/neo/doom.sdf
doom3_doxygen_docs/Doxyfile
